.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.float-left{
  float: left;
}

.btn-sm{
  float: right;
}

table .active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}